<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <p:layout fullPage="true">
        <p:layoutUnit position="north" size="100" resizable="false" closable="false" collapsible="false">
            <div id="header">
                <ui:insert name="header" >
                    <ui:include src="header.xhtml" />
                </ui:insert>
            </div>
        </p:layoutUnit>

        <p:layoutUnit position="south" size="100" resizable="false" closable="false" collapsible="false">
            <div id="footer">
                <ui:insert name="footer" >
                    <ui:include src="footer.xhtml" />
                </ui:insert>
            </div>
        </p:layoutUnit>

        <p:layoutUnit position="west" size="200" resizable="false" closable="false" collapsible="false">
            <div id="menu">
                <ui:insert name="menu" >
                    <ui:include src="menu.xhtml" />
                </ui:insert>
            </div>
        </p:layoutUnit>

        <p:layoutUnit position="center">
            <div id="content">
                <ui:insert name="content" >
                    <ui:include src="" />
                </ui:insert>
            </div>
        </p:layoutUnit>
    </p:layout>
</h:body>
</html>