<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
</h:head>
<h:body>
    <h:form id="menuForm">
        <p:menu>
            <p:submenu label="Menu">
                <p:menuitem value="Dashboard" icon="fa fa-dashboard"/>
                <p:menuitem value="Users" icon="fa fa-users" outcome="useroverview"/>
            </p:submenu>
        </p:menu>
    </h:form>
</h:body>
</html>