<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>overview</title>

    <f:metadata>
        <f:viewParam name="userId" value="#{userController.userId}" />
        <f:event type="preRenderView" listener="#{userController.retrieveUser()}"/>
    </f:metadata>
</h:head>
<h:body>
    <ui:composition template="template/layout.xhtml">
        <ui:define name="content">
            <f:view>
                <h:form>
                    <h:panelGrid columns="3" cellpadding="5">
                        <p:outputLabel value="Name:" for="name"/>
                        <p:inputText id="name" value="#{userController.name}" readonly="true"/>
                        <p:message for="name" />

                        <p:outputLabel value="Type:" for="type" />
                        <p:selectOneMenu id="type" value="#{userController.type}" style="width:125px" required="true">
                            <f:selectItem itemLabel="NORMAL" itemValue="NORMAL" />
                            <f:selectItem itemLabel="MODERATOR" itemValue="MODERATOR" />
                        </p:selectOneMenu>
                        <p:message for="type" />

                        <p:outputLabel value="Biography" for="bio" />
                        <p:inputTextarea id="bio" rows="10" cols="50" value="#{userController.bio}" required="true"/>
                        <p:message for="bio" />

                        <p:outputLabel value="Location" for="location" />
                        <p:inputText id="location" value="#{userController.location}" required="true"/>
                        <p:message for="location" />

                        <p:outputLabel value="Website" for="web"/>
                        <p:inputText id="web" value="#{userController.website}" required="true"/>
                        <p:message for="web" />
                    </h:panelGrid>
                    <p:commandButton value="Submit" action="#{userController.editUser()}">
                        <f:param name="username" value="#{userController.name}" />
                    </p:commandButton>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
