<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>overview</title>

    <f:metadata>
        <f:viewParam name="userId" value="#{tweetController.userId}" />
        <f:event type="preRenderView" listener="#{tweetController.retrieveTweets}"/>
    </f:metadata>
</h:head>
<h:body>
    <ui:composition template="template/layout.xhtml">
        <ui:define name="content">
            <f:view>
                <h:form id="tweetForm">
                    <p:dataTable id="tweetTable" var="tweet" value="#{tweetController.tweets}" tableStyle="table-layout:auto;width:100%;">
                        <f:facet name="header">
                            Tweets
                        </f:facet>
                        <p:column headerText="Text">
                            <h:outputText value="#{tweet.tweet}" />
                        </p:column>

                        <p:column headerText="Sender">
                            <h:outputText value="#{tweet.sender.name}" />
                        </p:column>

                        <p:column headerText="Posted At">
                            <h:outputText value="#{tweet.postedAt}">
                                <f:convertDateTime pattern="dd.MM.yyyy HH:mm" />
                            </h:outputText>
                        </p:column>

                        <p:column headerText="Likes">
                            <h:outputText value="#{tweet.likes.size()}" />
                        </p:column>

                        <p:column style="width:32px; text-align: center">
                            <p:commandButton value="Remove" icon="ui-icon-trash"
                                             action="#{tweetController.delete}"
                                             update=":tweetForm:tweetTable"
                                             ajax="true">
                                <f:setPropertyActionListener target="#{tweetController.selectedTweet}" value="#{tweet}" />
                                <f:param name="userId" value="#{tweetController.userId}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
