<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>overview</title>
</h:head>
<h:body>
    <ui:composition template="template/layout.xhtml">
        <ui:define name="content">
            <f:view>
                <h:form id="userForm">
                    <p:dataTable id="userTable" var="user" value="#{userController.allUsers}" tableStyle="table-layout:auto;width:100%;">
                        <f:facet name="header">
                            Users
                        </f:facet>
                        <p:column headerText="Id">
                            <h:outputText value="#{user.id}" />
                        </p:column>

                        <p:column headerText="Name">
                            <h:outputText value="#{user.name}" />
                        </p:column>

                        <p:column headerText="Type">
                            <h:outputText value="#{user.type}" />
                        </p:column>

                        <p:column headerText="Biography">
                            <h:outputText value="#{user.bio}" />
                        </p:column>

                        <p:column headerText="Website">
                            <h:outputText value="#{user.website}" />
                        </p:column>

                        <p:column headerText="Action" style="width:32px; text-align: center">
                            <h:button value="Tweets" icon="ui-icon-search" outcome="tweetoverview">
                                <f:param name="userId" value="#{user.id}" />
                            </h:button>
                            <h:button value="Edit" outcome="edituser">
                                <f:param name="userId" value="#{user.id}" />
                            </h:button>
                            <p:commandButton value="Remove" icon="ui-icon-trash"
                                             action="#{userController.delete}"
                                             update=":userForm:userTable"
                                             ajax="true">
                                <f:setPropertyActionListener
                                        target = "#{userController.selectedUser}" value = "#{user}" />
                            </p:commandButton>
                        </p:column>
                    </p:dataTable>
                </h:form>
            </f:view>
        </ui:define>
    </ui:composition>
</h:body>
</html>
